.card {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* padding: 20px; */
  row-gap: 42px;
}
.card-render {
  padding: 9px;
  /* width: 26.9375rem; */
  /* height: 18.75rem; */
  flex-shrink: 0;
}
.cdProject {
  border-left: 0.25rem solid green;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
}
.newbtn {
  border-radius: 1.625rem;
  background: var(--primary-clr) !important;
  width: 7.9375rem;
  height: 3.25rem;
  flex-shrink: 0;
  color: #fff;
}
.newbtn:hover {
  background: #fff !important;
  color: var(--primary-clr) !important;
  border: 1px solid var(--primary-clr) !important;
}
.createbtn {
  width: 5.9375rem !important;
  height: 2.25rem !important;
}
.updatebtn {
  background: #fff !important;
  margin: 2px;
}

.ant-input {
  border-radius: 0px !important;
}
.updatebtn span {
  margin: 3px !important;
}
.new-project {
  margin: 6px 7px 0px 36px;
}
.card-status {
  font-size: 22px !important;
  font-family: "Montserrat", sans-serif !important;
}
.filterMenu {
  width: 80%;
  border: 1px solid #f1f2f7;
  margin-top: 10px;
  margin-left: auto;
}
.fn-btn {
  padding: 0;
  /* border: 1px solid #f1f2f7; */
  border-radius: 0 !important;
}
.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.icon span {
  margin: 7px;
  color: #8b8b8b;
  font-size: large;
  /* border: none !important;
  background-color: none !important; */
}
.fn-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  background: none !important;
}
.status {
  display: flex;
}
.status img {
  width: 0.5rem;
  height: 0.5rem;
}
.status p {
  margin-left: 10px;
  font-size: 16px !important;
  font-weight: 500;
  font-family: "Montserrat", sans-serif !important;
}
.red {
  color: #ff285c !important;
}
.green {
  color: var(--primary-clr) !important;
}
.yellow {
  color: #f0bb00 !important;
}

.Task-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}
.tasks-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9faff;
  width: 80px;
  height: 60px;
  flex-shrink: 0;
}
.tasks p {
  align-items: center;
}
.line3 {
  width: 0.0625rem;
  height: 2.625rem;
  margin: 0px 13px 0px;
}
.l-task {
  font-size: 16px !important;
  color: var(--primary-clr) !important;
  font-weight: 400 !important;
  font-family: "Montserrat", sans-serif !important;
}
.startDate {
  flex-direction: column;
  margin: 6px;
  display: flex;
}

.startDate p {
  color: #717986;
  font-family: "Montserrat", sans-serif !important;
  font-size: 0.75rem;
}

.attribute {
  margin: 6px;
}

.attribute p {
  color: #717986;
  font-weight: 500;
  font-size: 14px;
  font-family: "Montserrat", sans-serif !important;
}
/* @media (max-width: 1000px) {
      .card{
      grid-template-columns: repeat(4, 1fr);
  
      }
  } */

@media (max-width: 830px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 630px) {
    .card {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
