.custom-avatar {
    background-color: #125bc1;
    vertical-align: middle;
    margin-right: 10px; 
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .list-item {
    padding: 16px;
    transition: background-color 0.3s;
  }
  
  .list-item:hover {
    background-color: #e6e6e6; 
  }
  
  