.changepassword-column2{
    background-image: url(../../assets/images/Layer\ 8.png);
    background-size: 1150px 750px;
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
}
.change-password-container{
    height: 100vh;
}