@import url(../../index.css);
.mainDiv {
  width: 100%;
  text-align: justify;
  background-color: #f7f3f3;
  border-radius: 10px;
  width: 100%;
  max-width: 1100px;
  margin: 5% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 1px 2px 6px hsla(98, 4%, 61%, 0.2);
  line-height: 30px;
}
.HeaderCls {
  padding: 40px 0px 20px 0px;
  font-family: "Montserrat", sans-serif !important;
  color: var(--primary-font-clr);
}
.HeaderCls2 {
  padding: 0px 0px 20px 0px;
  font-family: "Montserrat", sans-serif !important;
  color: var(--primary-font-clr);
}
.mainDiv li {
  list-style: decimal;
  font-family: "Montserrat", sans-serif !important;
}
.terms_btn {
  height: 50px;
  border-radius: 0px !important;
  background: var(--primary-clr) !important;
  color: #fff !important;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px 0;
}
.terms_btn:hover {
  background: transparent !important;
  color: var(--primary-clr) !important;
  border: 1px solid var(--primary-clr) !important;
}
