.logo-container{
  border-bottom: 1px solid #f1f1f1;
}
.logo {
  width: 100px;
  height: 100px;
}
.side-bar {
  height: 100vh;
  width: 257px;
  border-right: 1px solid #f1f1f1;
  display: flex;
  flex-direction: column;
}
.sidebar-btn{
  margin-top: 300px;
  width: 65%;
  height: 50px;
  margin: auto;
}
