@import url(../../index.css);
.logo-container {
  border-bottom: 1px solid #f1f1f1;
}
.logo {
  width: 100px;
  height: 100px;
}
.side-bar {
  height: 100vh;
  width: 257px;
  border-right: 1px solid #f1f1f1;
  display: flex;
  flex-direction: column;
}
.sidebar-btn {
  margin-top: 300px;
  width: 65%;
  height: 50px;
  border-radius: 0px !important;
  background: var(--primary-clr) !important;
  color: #fff !important;
  border: none;
  margin: auto;
}
.sidebar-btn:hover {
  background: #fff !important;
  color: var(--primary-clr) !important;
  border: 1px solid var(--primary-clr) !important;
}
.side-bar.collapsed {
  width: 80px;
}

.side-bar.collapsed .ant-menu-item {
  display: flex;
  align-items: center;
}

.side-bar.collapsed .ant-menu-item > span {
  display: none;
}
.side-bar.collapsed .ant-menu-item > .anticon {
  display: inline;
}
.ant-menu-item-selected{
  background-color: #f9faff !important;
  color: #4743e0 !important;
  border-radius: 0 !important;
}

.ant-menu-item:hover{
    border-radius: 0 !important;
    background-color:#f9faff !important;
    color: #4743e0 !important;
}