@import 'index.css';
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--secondary-bg-clr);
  flex-direction: column;
}
body {
    background-color: transparent !important; /* Use !important to override any other styles */
  }
h1{
    color: var(--primary-font-clr);
    font-size: 54px;
    font-weight: 900;
}
p{
    color: var(--secondary-font-clr);
    font-weight: 600;
    font-size: 14px;
}
span{
    color: var(--primary-clr);

}