@import "index.css";
.card {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  /* padding: 20px; */
  grid-gap: 5px;
}
.card-render {
  padding: 20px;
  width: 30.9375rem;
  height: 18.75rem;
  flex-shrink: 0;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-header h1 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: normal;
}
.icon span {
  margin: 7px;
  color: #8b8b8b;
}
.status {
  display: flex;
  margin-top: 7px;
  margin-bottom: 30px;
}
.status img {
  width: 0.5rem;
  height: 0.5rem;
}
.status p {
  margin-left: 10px;
  margin-top: 3px;
  color: #00db99;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.startDate p {
  color: #717986;
  font-size: 0.75rem;
}

/* @media (max-width: 1000px) {
    .card{
    grid-template-columns: repeat(4, 1fr);

    }
} */

@media (max-width: 830px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 630px) {
    .card {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
