@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  /* outline: 2px solid black !important; */
}
:root {
  --primary-clr: #4743e0;
  --primary-font-clr: #42505c;
  --secondary-font-clr: #404040;
  --letter-spacing: 0.25px;
  --line-height: 28px;
  --heading-fs: 54px;
  --secondary-bg-clr: #F9FAFF;
}
.body{
  overflow-y: hidden  !important;
}
