.mainClass {
  display: flex;
  /* width: 1440px; */
  height: 95vh;
}
.leftSide {
  width: 30%;
}

.LeftfirstClass {
  display: flex;
  justify-content: center;
  width: 100%;
}
.leftMainClass {
  margin-top: 20px;
  width: 300px;
}
.HeaderClass {
  font-weight: 700;
  font-size: 54px;
  font-family: Roboto;
  line-height: 50px;
  color: #42505c;
  padding: 0px;
  margin: 30px 0px;
}
.paragraphClass {
  font-weight: 400;
  font-size: 14px;
  font-family: Roboto;
  line-height: 28px;
  margin: 0px !important;
  padding: 0px !important;
}
.imgCls {
  margin: 10px 0px;
  padding: 0px !important;
}

.imgCls img {
  max-width: 100%;
}

.labelClass {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px 10px 0px;
}
.labelClass .imgClass {
  width: 16px;
  height: 16px;
}
.inputcls {
  padding-left: 10px;
  width: 296px;
  height: 48px;

  border: 1px solid #d1d1d1;
}

.btnform {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  width: 301px;
  height: 48px;
  text-align: center;
  color: #ffffff;
  background-color: #4743e0;
  border: none;
  margin: 10px 0px;
}
.footerCls {
  margin-top: 123px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}
.footerCls p {
  color: #333333;
  line-height: 28px;
}
.footerCls a {
  color: #4743e0;
  text-decoration: none;
}
.rightSide {
  width: 70%;
  height: 100vh;
  background-color: #e5e5e5;
  display: flex;
  justify-content: end;
}
.rightSide img {
  height: 100vh;
}

@media only screen and (max-width: 1024px) {
  .leftMainClass {
    margin-top: 30px;
    width: 90%;
  }
  .LeftfirstClass {
    width: 100%;
  }

  /* .mainClass{
        
        height: 900px;
    } */
  .footerCls {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .leftSide {
    width: 300px;
  }
  .LeftfirstClass {
    width: 300px;
  }
  .leftMainClass {
    width: 250px;
  }
  .labelClass {
    width: 100%;
  }
  .inputcls {
    width: 100%;
  }
  .imgCls img {
    width: 100%;
  }
  .btnform {
    width: 100%;
  }
  .leftMainClass {
    margin-top: 20px;
  }
  .HeaderClass {
    font-size: 44px;
    line-height: 38px;
  }
  .paragraphClass {
    line-height: 18px;
  }
  .mainClass {
    height: 100%;
  }
  .imgCls {
    margin: 10px 0px;
  }
}
@media only screen and (max-width: 425px) {
  .rightSide {
    display: none;
  }
  .leftSide {
    width: 100%;
  }

  .LeftfirstClass {
    width: 100%;
  }
  .leftMainClass {
    width: 80%;
  }
}
